@charset "utf-8";
body {
    background-image: url(photo-1497250681960-ef046c08a56e.jpg);
    background-size: 100% 65%;
    background-repeat: no-repeat;
    height: 100%;
}

nav {
    background-color: burlywood !important;
}

#contact-row {
    margin-top: 12%;
}